<!DOCTYPE html>
<html>
<head>
	{% include 'stylesheets.html'%}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tabs.css') }}"></head>
</head>
<body>
	<div class="wrapper">
		<h1>Find Dat(a)</h1>
		<input id="searchbox"  type="text" placeholder="Type search terms">
		<br>
		<label for="collectionsel">Search in collection:</label>
		<select id="collectionsel">
			{% for c in collections %}
				<option  value="{{ c }}">{{ c }}</option>
			{% endfor %}
		</select>
			<div class="tabs">
				<div class="tab">
					<input type="radio" id="tab-1" name="tab-group-1" checked>
					<label for="tab-1">Vector Search</label>

					<div class="content">
						<label for="topk">Number of results</label>
						<input id="topk" type="number" value="20">
						<br>
						<br>
						<button class="searchbtn" id="vector">Search</button>
					</div>
				</div>

				<div class="tab">
					<input type="radio" id="tab-2" name="tab-group-1">
					<label for="tab-2">Boolean Search</label>

					<div class="content">
						<p>Use the AND, OR and NOT operators<br>
							All operators need to be UPPERCASE<br>
							You can still search for the words 'and', 'or' 'not' by typing them in lowercase<br>
							Use () to enforce priority.
						</p>
						<button class="searchbtn" id="boolean">Search</button>
					</div>
				</div>
			</div>
		<a href="/new-collection" id="crawl">Create new collection</a>
	</div>

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
