<!DOCTYPE html>
<html>
<head>
	{% include 'stylesheets.html'%}
</head>
<body>
	<div class="wrapper">
		<h1>Find Dat(a)</h1>
		<form id="mainform" method="post" enctype="multipart/form-data">
			<label for="collectionbox">Select a <strong>ZIP</strong> file containing the HTML files</label>
			<input id="collectionbox" name="files" type="file" accept="application/zip" placeholder="Place files here">
			<br>
			<br>
			<input id="namebox" name="name" type="text" placeholder="Collection name">
			<br>
			<br>
		</form>
		<button id="uploadbtn">Upload collection</button>
		<br>
		<br>
		<p class="notice"></p>
	</div>

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</body>
</html>
